<footer class="footer">
  <small>
    <%= image_tag 'http://i304.photobucket.com/albums/nn165/wing_ho1/10864049_10153628867636002_6444960977137094816_o_zpsl3szifxo.jpg' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/groups/mugnanttrain/">Facebook</a></li>
    </ul>
  </nav>
</footer>